data/clips/
data/models/
data/recordings/
data/uploads/
data/videos/
*.db
.DS_Store
.env
.gitignore
*.pyc
__pycache__/
recordings/
**/runtime_settings.json
.ultralytics/
.venv/
venv/
yolov8*.pt
data/preview/
